<div class="row " >
  <div class="col-sm-6">
    <div class="card card1">
      <div class="card-body d-flex justify-content-center align-items-center">
        <img class="mainbanner" src="../assets/image 1.png"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card2">
      <div class="card-body header-text">
        <div>
          <h1 class="d-flex justify-content-right">DIGI<span class="vault">VAULT</span></h1>
        </div>

       <br>
       <ul class="ul">
        <li><span>"Securely Store Your Valuable Documents,Passwords Online"</span><br>
          Safeguard your important documents,passwords with our state-of-the-art Digital Locker.
          Your documents, your privacy, our priority.
        </li>
        <br>
        <li><span>"Your Digital Vault for Documents/Passwords"</span><br>
          Experience the future of document storage with our easy-to-use Digital Locker.
          Access, manage, and protect your files anytime, anywhere.
        </li>
        <br>
        <li><span>"Effortless Document Management at Your Fingertips"</span><br>
          Organize, access, and share your documents seamlessly
          with our Digital Locker. Simplify your life, one document at a time.
        </li>
       </ul>
       <div class="d-flex justify-content-right">
        <button class="button" routerLink="/register">Get Started</button>
       </div>

      </div>
    </div>
  </div>
</div>
