<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h1><span class="us">ABOUT</span>US</h1>
        <br>
        <br>
        <p>
          "Our Digital Locker is a trusted solution for secure document storage. At our core, we are dedicated to simplifying
           your life by providing a safe and convenient way to store and access your valuable documents.
            With a commitment to privacy and security, our platform empowers individuals to safeguard
            their important files while offering seamless access from anywhere at any time. Whether
             it's personal documents, sensitive information, or cherished memories, our mission is to
              provide you with peace of mind in the digital age. Join us on this journey as we continue
              to enhance and expand our services, always putting your document storage needs first."
        </p>
      </div>

    </div>

  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img class="aboutbanner d-flex justify-content-right" src="../assets/Group 117 2.png"/>
      </div>

    </div>

  </div>
</div>
