
<nav class="navbar navbar-expand-lg navbar-light ">
  <a class=" logo navbar-brand">DIGI<span class="vault">VAULT</span></a>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <ul class="navbar-nav just">
     <li><a class="nav-item nav-link active" routerLink="/mainpage">Home</a></li>
     <li><a class="nav-item nav-link active" (click)="scrollTo('about')">About Us</a></li>
     <li><a class="nav-item nav-link active" (click)="scrollTo('contact')">Contact Us</a></li>
     <li><a class="nav-item nav-link active" routerLink="/login">Login</a></li>
    </ul>
  </div>
</nav>
